[submodule "modules/postgresql"]
	path = modules/postgresql
	url = https://github.com/tstangenberg/puppetlabs-postgresql.git
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/tstangenberg/puppetlabs-apt.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/tstangenberg/puppetlabs-stdlib.git
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/tstangenberg/puppetlabs-concat.git
[submodule "modules/firewall"]
	path = modules/firewall
	url = https://github.com/tstangenberg/puppetlabs-firewall.git
